### Solar System Exploration, 1950s â€“ 1960s

- [ ] Mercury
- [x] Venus
- [x] Earth (Orbit/Moon)
- [x] Mars
- [ ] Jupiter
- [ ] Saturn
- [ ] 
- [ ] Uranus
- [ ] Neptune
- [ ] Comet Haley
- [ ]